// color
$dark-color: #333;
$light-color: #f4f4f4;
$medium-color: #eee;
$bg-main:#1e2135;
$bg-secondary:#3f4a68;
$shade-2: #456EDF;
$shade-3: #849BD9;
$shade-4: #1C2C59;
$shade-5: #6576A6;
$orange: #f1901d;
$light-green: #3cbebe;

// font
$font-weight: (
    'lighter': 350,
    'regular': 550,
    'bold': 800
);

// paddings
$values: (1, 2, 3);

// set text color
@function text-color($color){
    @if (lightness($color) > 60) {
        @return #333;
    } @else {
        @return $light-color;
    }
}

// mixin with text and bg
@mixin txt-bg($color) {
    background-color: $color;
    color: text-color($color);
}
