
@import './config';
@import './base';
@import './utilities';

/* HEADER */
// this way the image scale on mobile when scrolling because the bg-attachment has been desabled on mobile
header{
    background: -webkit-gradient(linear, left top, left bottom, from(var(--overlay-color)), to(var(--overlay-color))), url('../img/showcase-1-min.jpg') no-repeat;
    background: -o-linear-gradient(var(--overlay-color), var(--overlay-color)), url('../img/showcase-1-min.jpg') no-repeat;
    background: linear-gradient(var(--overlay-color), var(--overlay-color)), url('../img/showcase-1-min.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
        -webkit-background-size: cover;
            -moz-background-size: cover;
                -o-background-size: cover;
    height: 100vh;
    color: #fff;
}


/* navbar*/
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

/* logo*/
.logo{
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: 500;
    justify-self: start;
    z-index: 1;
}

/* social*/
.social{
    
    & > a i{
        margin: 0 .3em;
        color:#fff;
        opacity: 0.7;
        transition: all .2s ease-in-out;
    }
    & .fa-facebook:hover{
        color: #3b5998;
        opacity: 1;
    }
    & .fa-twitter:hover{
        color: #00acee;
        opacity: 1;
    }
    & .fa-instagram:hover{
        color: #c13584;
        opacity: 1;
    }
    & .fa-youtube:hover{
        color: #FF0000;
        opacity: 1;
    }
}
@media (max-width: 850px){
    nav{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
        .logo{
            justify-self: center;
        }
    
        .social{display: none;}
    
        .menu{
            align-items: center;
            justify-self: center;
        }
    }
}

/* menu */
.menu{
    display: flex;
    justify-self: flex-end;

    & li{
        margin: 0 .3em;
    }
    
    & a{
        padding: .4em .9em;
        color: #fff;
        border: 1px solid transparent;
        border-radius: .2em;
        transition: color .2s ease-in-out, border .2s ease-in-out;
    }
    & a:hover{
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

}
/* menu icons */
.menu-icons{
    display: none;
    margin-right: .5em;
    opacity: 0;
    color: #f4f4f4;
    transition: opacity .6s, color 2s;
}

/* toggle*/
.toggle-btn{display: none;}


/* showcase */
.showcase-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
    /* place-items: start center; */
    height: 90vh;
    /* padding: 4em 0; */
}
.showcase-content{
    h1{
        background: linear-gradient(to left, rgb(255, 255, 255), rgb(243, 160, 6));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/*chevron*/
.click{
    &:link, &:visited{
        display: block;
        position: relative;
        right: 16px;
        width: 100%;
        margin: auto auto 0;
        padding: 1em 0;
        color: var(--icon-color);
        transition: all var(--transition-speed) ease-in;
    }

    &:hover{
        transform: translateY(-3px);
        color: var(--primary-color);
    }

    &:active{ transform: translateY(2px); }
}

// INTRO
.section-intro{
    @include txt-bg(#192035);
    text-align: center;

    .m-heading{
        font-weight: lighter;

        span{
            color: #f3a006;
            font-weight: normal;
            font-style: italic;
        }
    }

    .slogan{
        margin-bottom: 3em;
        font-size: 1.1em;
    }

    .intro-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }

}

.box-intro{
    margin: 2.2em .8em;

    & > div{position: relative;}
    
    .number{
        position: absolute;
        top: -10px;
        left: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: #3cbebe;
        border-radius: 50%;
    }
    
    img{
        height: 10em;
        width: auto;
        margin: .5em;
    }
}
@media (max-width: 850px){
    .section-intro{

        .intro-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2em;
        }
    }
}


/* LATEST */

// .latest{background-color:  $bg-main;}

figure{

    a{
        width: 100%;
        overflow: hidden;
    }

    img{
        width: 100%;
        display: block;
    }
    
    span{
        display: block;
    }

    figcaption{
        padding: .8em;
    }
} 

.img--animation{
    // background-color: #333;
    transition: all .4s;

    &:hover{
        opacity: .8;
        transform: scale(1.1);
    }
}

.photo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1.2em;

    & > *:first-child{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / span 2;
        align-items: center;
        justify-items: start;
    }
    
    & > *:last-child{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2 / -1;
        justify-items: start;
        align-items: center;
    }
}

.card__detail{width: 100%}

@import './photo-grid';


/* daily photo */
.daily-photo{
    background: linear-gradient(rgba(30, 33, 53, 1), rgba(24, 26, 42, .65)), url('../img/bg-image-min.jpg') no-repeat center center/cover;
}


@import './slideshow';


/* form */
.wrapper{
    max-width: 350px;
    margin: 60px auto;
    overflow: hidden;
    background-color: #f4f4f4;
    color: #6a737d;
    border-radius: .3em;
    animation: wrapper .5s ease;

    @keyframes wrapper {
        from{
            opacity: 0;
            transform: translateY(50%);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .logo{
        margin-bottom: 1em;

        h2{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: lighter;
            font-size: .8em;
            text-align: center;
            margin: 0;
            // color: rgb(235, 200, 45);
        }

        .text-logo{
            text-align: center;
            font-weight: 500;
            font-size: 1.2em;
            color: #6a737d;
        }
    }

    .form-group{
        width: 65%;
        margin: 1.3em auto;
    }

    input{
        width: 100%;
        display: block;
        padding: .25em 0;
        // margin-bottom: 1.2em;
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--primary-color);
        transition: border-color .3s;

        &:focus{
            outline: none;
            border-bottom: 2px solid var(--secondary-color);
        }
    }

    label{
        display: none;
    }

    small{
        display: block;
        width: 100%;
        text-align: left;
        color: rgb(214, 54, 43);
        visibility: hidden;
    }

    // I can't put this in utilities because it'd be override
    // error and success classes
    .error input{
        border-bottom: 2px solid rgb(214, 54, 43);
    }
    .success input{
        border-bottom: 2px solid rgb(5, 202, 5);
    }
    .error small{
        visibility: visible;
    }

    // subscribe button
    button{
        letter-spacing: 1.3px;
        display: block;
        width: 80%;
        margin: 0 auto;
        cursor: pointer;
        padding: .5em;
        border-radius: 1em;
        font-size: 1em;
        color: #f4f4f4;
        border: none;
        background: linear-gradient(to right, #ffd700, #f3a006, #610061);
    }

    // line and sign in
    div{
        text-align: center;

        div{
            position: relative;
            top: 28px;
            width: 80%;
            margin: 0 auto;
            height: 1px;
            background-color: #b1b6bd;
        }

        p{
            position: relative;
            display: inline-block;
            padding: 0 .5em;
            z-index: 1;
            text-align: center;
            background-color: #f4f4f4;
        }

    }
}

.google:link,.twitter:link{
    display: block;
    width: 70%;
    margin: 1em auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: .55em .7em;
    transition: none;

    i{margin-right: .5em;}
}
.google{background-color: #1e2135;}
.twitter{background-color: #00acee;}

.footer-form{
    p {text-align: center;}
    a{
        color: var(--primary-color);
        &:hover{
            color: var(--secondary-color);
        }
    }
}


/* footer */

footer{

    .top{
        display: none;
        @include txt-bg(#11142b);
        text-align: center;
        padding: 1.2em 0;
        text-transform: uppercase;

        a{
            @include txt-bg(#11142b);
            padding: .6em .5em;
        }

    }
}

.main-footer{
    font-size: .85em;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.up-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    align-items: center;
    line-height: 2.2;
    color: #6a737d;

    p{margin: 0;}

    & > *:first-child{
        align-self: start;

        ul{
            margin: 2em 0;
            line-height: 3;
        }
        li{
            a{
                color: #6a737d;
            }
        }
       a {
           color: #d4ceced3;
           margin: 1.5em 0;
           margin-right: 1em;
        }
    }

    & > *:nth-child(2){
        margin: 1em;
        box-sizing: content-box;

        img{
            box-sizing: border-box;
            margin-top: 1em;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            padding: .4em;
            border: dashed 3px var(--primary-color);
            opacity: 1;
            transition: opacity .2s ease-in;

            &:hover{
                opacity: .8;
            }
        }
    }
}

.down-footer{
    background-color: #f1f0f0fa;

    .flex-container{
        display: flex;
        justify-content: space-between;
        align-content: center;

        & >p:nth-child(2){
            color: var(--primary-color);
        }
    }
}